@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,300&display=swap');
* {margin: 0; padding: 0; box-sizing: border-box; font-family: Poppins}

:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
    --default-width: 400px;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--body-bg-color);
    overflow: hidden;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: var(--default-width);
    max-width: 100vw;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header .header--foto{
    border: 2px solid var(--purple);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .25rem;
}

.header .header--foto img{
    object-fit: cover;
    border-radius: 50%;
}

.header .header--link{
    font-weight: 300;
    color: var(--purple);
    text-decoration: none;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.buttons-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0 .5rem 0 .5rem;
}

.buttons-links a{
    border: 2px solid var(--purple);
    font-weight: 600;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: var(--purple);
    text-decoration: none;
    text-transform: uppercase;
}

.icons-links{
    display: flex;
    flex-direction: row;
    gap: 1.75rem;
    margin-top: 2.5rem;
}

.icons-links a{
    color: var(--purple);
    text-decoration: none;
    font-size: 1.45rem;
}